In [26]:
import pandas as pd
import numpy as np

In [3]:
# Reading a csv

data = pd.read_csv('web_data.csv', header=5)
data.head()

       Date    Source   Medium  Sessions  Pageviews Time on Page
0  20161104  (direct)   (none)       208        261     00:58:41
1  20170109    google      cpc       137        216     01:14:38
2  20161108    google  organic       134        284     04:02:35
3  20161114    google  organic       129        271     03:51:32
4  20161129    google  organic       129        328     04:52:56

In [5]:
# Index

data.index

RangeIndex(start=0, stop=1242, step=1)

In [6]:
# Values

data.values


# This is just a NumPy list!

array([[20161104, '(direct)', '(none)', 208, 261, '00:58:41'],
       [20170109, 'google', 'cpc', 137, 216, '01:14:38'],
       [20161108, 'google', 'organic', 134, 284, '04:02:35'],
       ...,
       [20170131, 'blog.capterra.com', 'referral', 1, 1, '00:00:00'],
       [20170131, 'fr.search.yahoo.com', 'referral', 1, 1, '00:00:00'],
       [20170131, 'scoop.it', 'referral', 1, 1, '00:00:00']], dtype=object)

In [9]:
# Data Types

data.dtypes

Date             int64
Source          object
Medium          object
Sessions         int64
Pageviews        int64
Time on Page    object
dtype: object

In [8]:
# Describe
# What is going to happen to the data here. Note Date above is technically an integer

data.describe()


#Gives some base stats, but note that it only works for sessions

               Date     Sessions    Pageviews
count  1.242000e+03  1242.000000  1242.000000
mean   2.016410e+07    14.513688    25.681159
std    4.206715e+03    28.606957    51.590042
min    2.016110e+07     1.000000     1.000000
25%    2.016112e+07     1.000000     1.000000
50%    2.016121e+07     2.000000     4.000000
75%    2.017011e+07     6.000000    14.000000
max    2.017013e+07   208.000000   351.000000

In [11]:
# Transpose

data.T

# This can be useful for graphing

,0,1,2,3,4,5,6,7,8,9,...,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241
Date,20161104,20170109,20161108,20161114,20161129,20161116,20161207,20161104,20170124,20161102,...,20170128,20170128,20170129,20170129,20170130,20170130,20170130,20170131,20170131,20170131
Source,(direct),google,google,google,google,google,google,google,google,google,...,linkedin.com,twitter,capterra.com,images.google,capterra.com,group-gac.com,linkedin.com,blog.capterra.com,fr.search.yahoo.com,scoop.it
Medium,(none),cpc,organic,organic,organic,organic,cpc,organic,cpc,organic,...,referral,social,cpc,organic,referral,referral,referral,referral,referral,referral
Sessions,208,137,134,129,129,128,125,124,123,120,...,1,1,1,1,1,1,1,1,1,1
Pageviews,261,216,284,271,328,301,144,215,140,282,...,4,1,1,1,1,1,1,1,1,1
Time on Page,00:58:41,01:14:38,04:02:35,03:51:32,04:52:56,05:59:07,00:32:31,02:16:02,00:32:50,04:38:42,...,00:02:18,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00

In [19]:
# Sort by Value

data.sort_values(by="Source")

,Date,Source,Medium,Sessions,Pageviews,Time on Page
0,20161104,(direct),(none),208,261,00:58:41
267,20161119,(direct),(none),11,19,00:06:17
140,20170110,(direct),(none),47,77,00:59:53
141,20170117,(direct),(none),47,213,03:41:06
263,20170122,(direct),(none),13,17,00:23:53
262,20170108,(direct),(none),13,45,01:12:13
261,20170106,(direct),(none),13,48,01:24:35
145,20161102,(direct),(none),45,114,02:20:04
258,20161229,(direct),(none),14,26,00:07:33
268,20161120,(direct),(none),11,11,00:00:00
254,20161112,(direct),(none),15,18,00:02:20
253,20170128,(direct),(none),16,17,00:03:32
252,20170107,(direct),(none),16,23,00:21:12
151,20161215,(direct),(none),42,133,01:10:31
152,20170125,(direct),(none),42,78,01:14:38
251,20161226,(direct),(none),16,20,00:31:00
154,20161203,(direct),(none),41,54,00:19:41
155,20161214,(direct),(none),41,66,00:41:06
156,20170130,(direct),(none),41,55,00:48:24
148,20161123,(direct),(none),43,47,00:02:32
250,20161106,(direct),(none),16,20,00:06:12
270,20161210,(direct),(none),11,22,00:26:57
134,20161201,(direct),(none),49,189,03:07:59
316,20161231,(direct),(none),6,6,00:00:01
112,20161129,(direct),(none),63,89,01:12:33
114,20170131,(direct),(none),63,108,01:49:38
307,20170121,(direct),(none),7,17,00:44:50
298,20161127,(direct),(none),7,11,00:04:15
286,20161225,(direct),(none),8,8,00:00:01
120,20170116,(direct),(none),60,112,01:14:09
...,...,...,...,...,...,...
763,20161109,yahoo,organic,1,4,00:07:19
869,20161125,yahoo,organic,1,6,00:06:31
505,20170119,yahoo,organic,3,11,00:07:10
648,20161221,yahoo,organic,2,5,00:02:55
698,20170123,yahoo,organic,2,3,00:00:08
1168,20170117,yahoo,organic,1,9,00:13:22
438,20161118,yahoo,organic,3,6,00:03:51
1098,20170104,yahoo,organic,1,1,00:00:00
861,20161124,yahoo,organic,1,1,00:00:00
1020,20161220,yahoo,organic,1,1,00:00:00
841,20161121,yahoo,organic,1,1,00:00:00
1053,20161226,yahoo,organic,1,1,00:00:00
1213,20170124,yahoo,organic,1,1,00:00:00
1060,20161227,yahoo,organic,1,2,00:00:46
1039,20161222,yahoo,organic,1,1,00:00:00
550,20161114,yahoo,organic,2,2,00:00:00
555,20161115,yahoo,organic,2,3,00:01:19
1109,20170106,yahoo,organic,1,2,00:00:11
534,20161104,yahoo,organic,2,5,00:02:12
702,20170127,yahoo,organic,2,4,00:01:06
495,20170111,yahoo,organic,3,5,00:19:35
1075,20170101,yahoo,organic,1,2,00:01:22
768,20161110,yahoo,organic,1,2,00:00:51
846,20161122,yahoo,organic,1,1,00:00:00
559,20161117,yahoo,organic,2,2,00:00:00
1176,20170118,yahoo,organic,1,1,00:00:00
1155,20170116,yahoo,organic,1,2,00:01:01
1196,20170121,yahoo,organic,1,1,00:00:00
1021,20161220,yannicklevesque.com,referral,1,9,00:01:31
1103,20170105,zoominfo.com,referral,1,2,00:14:40

In [ ]:
# How to get the data

In [20]:
# Label

data['Source']

0                        (direct)
1                          google
2                          google
3                          google
4                          google
5                          google
6                          google
7                          google
8                          google
9                          google
10                         google
11                         google
12                         google
13                       (direct)
14                         google
15                         google
16                         google
17                         google
18                         google
19                         google
20                         google
21                         google
22                         google
23                         google
24                         google
25                         google
26                         google
27                         google
28                         google
29                       (direct)
                  ...
1212                     linkedin
1213                        yahoo
1214                atout-dsi.com
1215                 facebook.com
1216             journaldunet.com
1217                 linkedin.com
1218                      lnkd.in
1219        one2team.wpengine.com
1220        urlopener.blogspot.in
1221                         bing
1222               l.facebook.com
1223                      lnkd.in
1224    logicielsaasfrenchtech.fr
1225             outlook.live.com
1226                         t.co
1227                        yahoo
1228             images.google.fr
1229             journaldunet.com
1230               l.facebook.com
1231             outlook.live.com
1232                 linkedin.com
1233                      twitter
1234                 capterra.com
1235                images.google
1236                 capterra.com
1237                group-gac.com
1238                 linkedin.com
1239            blog.capterra.com
1240          fr.search.yahoo.com
1241                     scoop.it
Name: Source, dtype: object

In [22]:
# Column

data[0:3]

       Date    Source   Medium  Sessions  Pageviews Time on Page
0  20161104  (direct)   (none)       208        261     00:58:41
1  20170109    google      cpc       137        216     01:14:38
2  20161108    google  organic       134        284     04:02:35

In [ ]:
# Can use the same as NumPy

In [25]:
# Mean

data['Sessions'].mean()

14.513687600644122

In [30]:
# Applying a function across a column
data.apply(np.cumsum)['Sessions']

0         208
1         345
2         479
3         608
4         737
5         865
6         990
7        1114
8        1237
9        1357
10       1476
11       1594
12       1709
13       1823
14       1937
15       2049
16       2161
17       2271
18       2380
19       2489
20       2597
21       2705
22       2813
23       2921
24       3028
25       3135
26       3242
27       3349
28       3455
29       3560
        ...
1212    17997
1213    17998
1214    17999
1215    18000
1216    18001
1217    18002
1218    18003
1219    18004
1220    18005
1221    18006
1222    18007
1223    18008
1224    18009
1225    18010
1226    18011
1227    18012
1228    18013
1229    18014
1230    18015
1231    18016
1232    18017
1233    18018
1234    18019
1235    18020
1236    18021
1237    18022
1238    18023
1239    18024
1240    18025
1241    18026
Name: Sessions, dtype: int64

In [9]:
# Aggregating data to answer questions

In [34]:
# Grouping

data.groupby('Medium').sum()

                   Date  Sessions  Pageviews
Medium
(none)       1855104757      3024       5824
(not set)      40322312         3          3
actualites     40322320         2          2
cpc          4174060279      6748       8749
email        1048595981       183        479
organic      5000685058      6840      14177
referral    11191072772      1054       2403
social       1693653656       172        259

In [ ]:
# Questions to Answer
# 1) What month had the most sessions/pageviews
# 2) What month had the longest Time on Page
# 3) What is the average Time on Page
# 4) Date of max/min page views/sessions/timeonpage
# 
#
# 5) Extra time - Learn how to plot - matplotlib